html, body{
	margin:0;
	padding: 0;
}
#menu_bar{
	background-color: black;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}


header{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	height: auto;
	width: auto;

	background-color: black;
}

#right_buttons{
	height: 20px;
	width: 200px;
 
	padding: 10px;
	background-color: transparent;

	display: grid;
	grid-template-columns: 2fr 1fr;
}

.button{
	height: 15px;
	width: auto;
	background-color: rgb(200,200,200);
	margin: 4px;
}

#languages_selection{
	width: 80px;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.language_button{
	background-color: transparent;
	height: 15px;
	width: 25%;


	display: flex;
	align-items: center;
	justify-content: center;
}

#esp_icon{
	position: absolute;
	width: 20px;
	height: auto;
}

#ru_icon{
	position: absolute;
	width: 20px;
	height: auto;

}
.language_button:hover #ru_icon{
	transform: scale(1.5);
	transition: 0.4s ease;
}
.language_button:hover #esp_icon{
	transform: scale(1.5);
	transition: 0.4s ease;
}

#menu_items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
}
.button_menu{
	height: 20px;
	width: auto;
	background-color: white;
	margin: 5px;
	padding: 4px;

	/*FOR BROWSERS' SUPPORT OF THE BORDER*/
	-webkit-border-radius: 5px;	/*SAFARI, IOS, ANDROID*/
	-moz-border-radius: 5px; 	/*FIREFOX*/
	border-radius: 5px;			
	border: 3px solid rgb(240,240,240);

	/* Prevent background color leak outs */
  	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;

	/* HOVER TRANDSITION */
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;

  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	align-items: center;

}
.button_text{
	font-size: 16px;
	/*font-family: Palatino;*/
	font-family: Optima;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	color: grey;

  	transition-duration: 0.4s;
}

#clientzone_button{ /*DISABLED*/
	opacity: 0.6;
  	cursor: not-allowed !important;
}

#prod_button:hover{
	background-color: rgb(255, 242, 204);
}
#brands_button:hover{
	background-color: rgb(204, 255, 255);
}
#news_button:hover{
	background-color: rgb(255, 204, 230);
}
#contact_button:hover{
	background-color: rgb(217, 255, 204);
}

.button_menu:hover .button_text{
	color: black;
	padding-right: 20px;
}


.button_menu:hover #ini_icon{
	opacity: 1;
}

#ini_icon{
	position: absolute;
	padding-left: 40px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

.button_menu:hover #prod_icon{
	opacity: 1;
}

#prod_icon{
	position: absolute;
	padding-left: 72px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

.button_menu:hover #brands_icon{
	opacity: 1;
}

#brands_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

.button_menu:hover #news_icon{
	opacity: 1;
}

#news_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

.button_menu:hover #contact_icon{
	opacity: 1;
}

#contact_icon{
	position: absolute;
	padding-left: 70px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}
.button_menu:hover #clientzone_icon{
	opacity: 1;
}

#clientzone_icon{
	position: absolute;
	padding-left: 60px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

#list_menu{
	background-color: white;
	width: 100%;
	height: 0px;
	transition-duration: 1s;
}





#submenu_bar{
	background-color: rgb(240,240,240);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

#submenu_items_container{
	display: grid;
	grid-template-columns: 5px 110px auto 160px;
	/*grid-template-rows: 1fr 1fr 1fr;*/
}

.submenu_item{
	background-color: transparent;
	margin: 6px;
}

#path_container{
	height: 17px;
	width: 100px;
}
#path{
	font-size: 12px;
	font-family: Optima;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	color: grey;
}
#lupa{
	height: 17px;
	width: 140px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
form.search_bar{
	width: 100%;
	display: grid;
	grid-template-columns: 75% 5% 20%;
}

/* Style the search field */
form.search_bar input[type=text] {
	width: 100%;
  	font-size: 12px;
  	border: 3px solid white;
  	background: rgb(240,240,240);
  	font-family: Optima;
}

/* Style the submit button */
form.search_bar button {
	width: 100%;
  	padding: 3px;
  	background: transparent;
  	color: black;
  	font-size: 17px;
  	border: 1px transparent;
  	cursor: pointer;
}

form.search_bar button:hover {
  color: #0b7dda;
}











