html, body{
	margin:0;
	padding: 0;
}
#menu_bar{
	background-color: green;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	height: 43px;
	z-index: 10;
}


header{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	height: auto;
	width: auto;
	z-index: 10;

	background-color: black;
}

#right_buttons{
	height: 20px;
	width: 200px;
 
	padding: 10px;
	background-color: transparent;

	display: grid;
	grid-template-columns: 2fr 1fr;
}

.button{
	height: 15px;
	width: auto;
	background-color: rgb(200,200,200);
	margin: 4px;
}

#languages_selection{
	width: 80px;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.language_button{
	background-color: transparent;
	height: 15px;
	width: 25%;


	display: flex;
	align-items: center;
	justify-content: center;
}

#esp_icon, #ru_icon{
	position: absolute;
	width: 20px;
	height: auto;
}
.language_button:hover #ru_icon, .language_button:hover #esp_icon{
	transform: scale(1.5);
	transition: 0.4s ease;
}

#menu_items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
}
.button_menu{
	height: 20px;
	width: auto;
	background-color: white;
	margin: 5px;
	padding: 4px;

	/*FOR BROWSERS' SUPPORT OF THE BORDER*/
	-webkit-border-radius: 5px;	/*SAFARI, IOS, ANDROID*/
	-moz-border-radius: 5px; 	/*FIREFOX*/
	border-radius: 5px;			
	border: 3px solid rgb(240,240,240);

	/* Prevent background color leak outs */
  	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;

	/* HOVER TRANDSITION */
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;

  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	align-items: center;

}
.button_text{
	font-size: 16px;
	/*font-family: Palatino;*/
	font-family: Optima;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	color: grey;

  	transition-duration: 0.4s;
}

#clientzone_button{ /*DISABLED*/
	opacity: 0.6;
  	cursor: not-allowed !important;
}

#prod_button:hover{
	background-color: rgb(255, 242, 204);
}
#brands_button:hover{
	background-color: rgb(204, 255, 255);
}
#news_button:hover{
	background-color: rgb(255, 204, 230);
}
#contact_button:hover{
	background-color: rgb(217, 255, 204);
}

.button_menu:hover .button_text{
	color: black;
	padding-right: 20px;
}


.button_menu:hover #ini_icon, .button_menu:hover #prod_icon,
.button_menu:hover #brands_icon, .button_menu:hover #news_icon,
.button_menu:hover #contact_icon, .button_menu:hover #clientzone_icon{
	opacity: 1;
}

#ini_icon{
	position: absolute;
	padding-left: 40px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}


#prod_icon{
	position: absolute;
	padding-left: 72px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

#brands_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

#news_icon{
	position: absolute;
	padding-left: 52px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}


#contact_icon{
	position: absolute;
	padding-left: 70px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

#clientzone_icon{
	position: absolute;
	padding-left: 60px;
	color: black;
	opacity: 0;
	transition-duration: 0.3s;
}

#list_menu{
	background-color: purple;
	height: 0px;
	position: sticky;
	position: -webkit-sticky;
	top: 43px;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-duration: 1s;
	z-index: 10;
}

#prod_list_menu, #brand_list_menu, 
#news_list_menu, #contact_list_menu{
	width: 100%;
	height: 100%;

	opacity: 0;
	transition-duration: 1s;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: absolute;

	/*background-color: rgb(240,240,240);*/
	background-color: transparent;
}
#prod_list_menu div, #brand_list_menu div, 
#news_list_menu div, #contact_list_menu div{
	width: 100%;
	height: 190px;
	background-color: transparent;
	/*border: 5px solid rgb(240,240,240);*/
	padding: 10px;
}

.item_list{
	list-style: none;
	background-color: transparent;
	margin: 0;
  	padding: 0;
}
.item_list{
	font: 200 12px/1.5 Optima, sans-serif;
  	border-bottom: 1px solid #ccc;
}
.item_list:last-child {
  border: none;
}
.title_list{
	text-align: left;
	font-family: Optima;
	font-weight: bold;
	font-size: 28px;
	font-variant: small-caps;
	margin: 0;
}
.title_list a{
	text-decoration: none;
	color: black;
}
.title_list a:hover{
	color: red;
	transition-duration: 0.2s;
}

.item_list a {
	text-decoration: none;
  	color: black;
  	display: block;
  	width: 100%;
  	margin: 0;
 
  	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
  	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  	transition: font-size 0.3s ease, background-color 0.3s ease;
}

.item_list a:hover{
	font-size: 20px;
	color: red;
	margin: 0;
  	background: white;
}





#submenu_bar{
	background-color: green;
	z-index: 5;

	background-color: pink;
	position: sticky;
	position: -webkit-sticky;
	top: 43px;
	transition-duration: 1s;


}

#submenu_items_container{
	/*top: 20px;*/
	display: grid;
	grid-template-columns: 5px 110px auto 160px;
	background: rgb(240,240,240);
	/*grid-template-rows: 1fr 1fr 1fr;*/

}

.submenu_item{
	background-color: transparent;
	margin: 6px;
}

#path_container{
	height: 17px;
	width: 100px;
}
#path{
	font-size: 12px;
	font-family: Optima;
	font-weight: bold;
	font-variant: small-caps;
	font-stretch: normal;
  	color: grey;
}
#lupa{
	height: 17px;
	width: 140px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
form.search_bar{
	width: 100%;
	display: grid;
	grid-template-columns: 75% 5% 20%;
}

/* Style the search field */
form.search_bar input[type=text] {
	width: 100%;
  	font-size: 12px;
  	border: 3px solid white;
  	background: rgb(240,240,240);
  	font-family: Optima;
}

/* Style the submit button */
form.search_bar button {
	width: 100%;
  	padding: 3px;
  	background: transparent;
  	color: black;
  	font-size: 17px;
  	border: 1px transparent;
  	cursor: pointer;
}

form.search_bar button:hover {
  color: #0b7dda;
}



/* Slideshow container */
#slideshow_container {
  	position: relative;
  	width: 100%
  	height 800px;
  	background-color: red;

}
#slideshow_container {
	background-color: green;
}

	/* Hide the images by default */
	.slide {
  		display: none;
	}

	.slide > img {

  		width: 100%;
  		height: 250px;
  	}


section{
	/*width: 100%;
	height: 250px;
	position: relative;
	background-color: red;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}



footer{
	width: 100%;
	height: 400px;
	background-color: lightgreen;

}

#prod_section{
	width: 100%;
	height: 200px;
	background-image: url("images/carbon.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#event_section{
	width: 100%;
	height: 200px;
	background-image: url("images/altered.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}























